.container {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: 1600px;
}

.section-subtitle {
	margin-bottom: 0.1em;
	color: $purple;
	font-size: 2rem;
	font-family: 'Dancing Script', cursive;
	text-align: center;

	@include respond(desktop-small) {
		font-size: 2.5rem;
	}
}

.section-title {
	position: relative;
	margin-bottom: 0.5em;
	color: $black;
	font-weight: 700;
	font-size: 4.5rem;
	text-align: center;
	text-transform: uppercase;

	@include respond(desktop-small) {
		font-size: 6.5rem;
	}

	&::after {
		position: absolute;
		bottom: -5px;
		left: 0;
		background-color: $black;
		width: 60px;
		height: 3px;
		content: '';
	}
}

.section-white {
	background-color: $white;
}

.section-black {
	background-color: $black;
}
